*{
     margin: 0;
     padding: 0;
     box-sizing:border-box;
     font-family: 'Roboto', sans-serif;
scroll-behavior: smooth;
}
header{
     display: flex;
padding:20px;
background-color: bisque;
position: fixed;
width: 100%;
top: 0;
}




 .nav-items{
     margin-left: 50%;

}
.nav-items a{
     padding: 10px;
font-weight:700 ;
color: cadetblue;
text-decoration: none;
}
.nav-items a:hover{
     color: black;
     
}




.flexible-container{
     display: flex;
margin-top: 5%;

}
   
body{  background-image: url(images/banner.jpg);

background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}


.first-width{
     width:40%;
padding:5% 5%;
}
 .first-width button{
     background-image: linear-gradient(red,green);
padding:15px;
margin: 10%;
margin-left:50%;
transition: padding .5s ;
font-weight:700;

}

.first-width button:hover{
padding: 5px;     
}



.second-width{
     width:300px;
margin-top: 5%;
}

.second-width img{
     width: 80%;
     border-radius: 50%;
}

.second-container{
    margin-bottom: 10%;
     position: relative;
}
 .third-width{
      width: 40%;
      
margin-top: 5%;
margin-right: 5%;
text-align: justify;
padding: 10%;
box-shadow:10px 10px 40px gray ;
font-weight: 700s;
transition:padding 2s;
}
.flexible-container 

.third-width:hover{
     padding:30px ;
}
.four-width{
     width:40%;
     
     margin-top: 5%;
     text-align: justify;
     padding:10%;
     font-weight: 700;
     box-shadow:10px 10px 50px;
transition:padding 2s;
}
.four-width:hover{
     padding: 30px;
}
footer{
     background-color: aqua;
justify-content: center;
text-align: center;
font-weight: 700 ;
}


footer a{
     padding:10px;
}

@media screen and (max-width:700px) {
     body{
          background-color: blanchedalmond;
     }     
     }